<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7f5ae">  <td>17/05/09 12:02:15</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;consumoVozInternet_Home.beforeTest()[pri:0, instance:test.consumoVozInternet_Home@1649b0e6]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1402433372</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/05/09 12:02:15</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;consumoVozInternet_Home.Config_Browser()[pri:0, instance:test.consumoVozInternet_Home@1649b0e6]">&gt;&gt;Config_Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1402433372</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/05/09 12:02:15</td>   <td>197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="consumoVozInternet_Home.Teste_Login()[pri:0, instance:test.consumoVozInternet_Home@1649b0e6]">Teste_Login</td> 
  <td>main@1402433372</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/05/09 12:03:41</td>   <td>86045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="consumoVozInternet_Home.Teste_ConsumoVozOnline()[pri:0, instance:test.consumoVozInternet_Home@1649b0e6]">Teste_ConsumoVozOnline</td> 
  <td>main@1402433372</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/05/09 12:03:44</td>   <td>89059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="consumoVozInternet_Home.Teste_Logout()[pri:0, instance:test.consumoVozInternet_Home@1649b0e6]">Teste_Logout</td> 
  <td>main@1402433372</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/05/09 12:04:10</td>   <td>115633</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;consumoVozInternet_Home.afterClass()[pri:0, instance:test.consumoVozInternet_Home@1649b0e6]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1402433372</td>   <td></td> </tr>
</table>
